{% extends "base.html" %}

{% block title %}Как пользоваться приложением?{% endblock %}

{% block main %}
<div class="row" style="padding-top: 1.2em">
     <div class="col">
  <h1>Как пользоваться приложением?</h1>
  <div class="col" style="margin-top: 20px">
<iframe width="300" height="315" src="https://www.youtube.com/embed/cw5GAnGj5Gk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr>
  <div style="margin-top: 50px">
  <h3 style="text-align: center; padding-top: 20px;">Контактная информация</h2>
    <p>Чтобы задать вопрос, высказать пожелние или внести предложение, пишите в телеграм:<br> @glebrulev</p>
    <hr style="margin-top: 30px">
</div>
</div>


{% endblock %}