{% extends "base.html" %}
{% block title %} Профиль {% endblock %}
{% block main %}
  <h1>Личный кабинет</h1>
  <p>Используйте форму ниже чтобы что-то поменять в профиле:</p>
    {% load crispy_forms_tags %}
  <form action="." method="post" enctype="multipart/form-data">
    {{ user_form | crispy }}
    {{ profile_form | crispy }}
    {% csrf_token %}
    <button style="width:120px; height:40px;
     margin-bottom: 10px; font-size: 18px" type="submit" class="btn btn-success">Сохранить</button>
  </form>
    <p><a href="{% url "accounts:password_change" %}">Поменять пароль</a></p>
    <p><a href="{% url "accounts:delete-profile" %}">Удалить аккаунт</a></p>

  </form>
{% endblock %}