{% extends "base.html" %}
{% block title %} Политика конфиденциальности {% endblock %}
{% block main %}
<h1>Политика конфиденциальности</h1>
<h2>Общий доступ к данным</h2>
<p>Мы не предоставляем доступа к Вашим личным данным. Никому и никогда</p>
<h3>Хранение данных</h3>
<p>Dateapp хранит только те данные, которые необходимы для корректного функционирования — до тех пор, пока Вы пользуетесь Dateapp.</p>
<h4>Удаление данных</h4>
<p>Если Вы хотите удалить свой аккаунт, пожалуйста, зайдите в аккаунт, нажмите "Мой профиль"/"Личный кабинет" и удалите аккаунт. Удаление аккаунта повлечет за собой удаление всех данных. Это действие не может быть отменено.</p>
{% endblock %}